<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>800843035628-d51oolh35oafhmik4j2n06m0nahre2sd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.800843035628-d51oolh35oafhmik4j2n06m0nahre2sd</string>
	<key>API_KEY</key>
	<string>AIzaSyBNQw83YXGcH9mIEkICxwFPdOOD7q9SHTQ</string>
	<key>GCM_SENDER_ID</key>
	<string>800843035628</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cliffordYin.Nexus</string>
	<key>PROJECT_ID</key>
	<string>nexus-4a3d8</string>
	<key>STORAGE_BUCKET</key>
	<string>nexus-4a3d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:800843035628:ios:4790de311f49d323</string>
	<key>DATABASE_URL</key>
	<string>https://nexus-4a3d8.firebaseio.com</string>
</dict>
</plist>